In [1]:
import pandas as pd
from io import BytesIO
import requests
import numpy as np

In [2]:
#считать данные из Google sheets с помощью библиотеки "requests"

req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [3]:
df.head()

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [4]:
#процент, который составляют мужчины среди всех посетителей сайта

male_perc = round(df[df['gender'] == 'male'].users / df.users.sum() * 100, 0)
male_perc

1    41.0
Name: users, dtype: float64

In [5]:
yndx = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-bundych/Lesson_7/7_browser.csv', parse_dates = ['date'])

In [36]:
yndx.head()

        date         browser user_type  users
0 2020-06-14   Google Chrome    People    139
1 2020-06-14   Chrome Mobile    People     35
2 2020-06-14   Google Chrome    Robots     28
3 2020-06-14  Yandex Browser    People     22
4 2020-06-14         Firefox    People     15

In [7]:
#серия с флагами посещений Роботов через Хром (в виде серии)

chrome_chrome =  pd.Series(np.where(yndx.browser.str.contains('Chrome'), 1, 0))
chrome_rob = pd.Series(np.where(yndx.user_type == 'Robots', 1, 0))
chrome_robots = chrome_chrome * chrome_rob

In [8]:
ads = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-bundych/Lesson_7/sample_ads.csv')
ads.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [10]:
#количество непустых значений в столбце

not_nan_count = ads.click_type.notna()

In [27]:
#перезаписать значений списка, переведенные в формат int try-except

lst = [1, 'ggg', 295, 0, 0]

new_list= []

for i in lst:
    try:
        new_list.append(int(i))
    except:
        print('проверь исходный формат значений')

проверь исходный формат значений

In [49]:
import requests
import json
from urllib.parse import urlencode


token = '5920376798:AAEZ3r4VYFoEG4lh_7vfBeH4o8SAtaz0m4I'
chat_id = 290439930  # your chat id

message = 'БОЛЬШОЙ привет_2'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)