In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv')

In [3]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
#проверим дф на пропущенные значения и типы данных
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
#сгенерируем первый признак
#выделим из поля CarName марку автомобиля (разделим по пробелу и возьмем первыое значение)

cars['brand'] = cars.CarName.apply(lambda x: x.split(' ')[0])
cars = cars.drop(columns=['CarName','car_ID']) #удалим лишние столбцы

In [6]:
#посчитаем кол-во уникальных марок в дф
cars.brand.nunique()

28

In [7]:
cars.brand.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [8]:
#заменим дубликаты марок с ошибками

cars.loc[cars['brand'] == 'maxda', 'brand'] = 'mazda'
cars.loc[cars['brand'] == 'Nissan', 'brand'] = 'nissan'
cars.loc[cars['brand'] == 'porcshce', 'brand'] = 'porsche'
cars.loc[cars['brand'] == 'toyouta', 'brand'] = 'toyota'
cars.loc[cars['brand'] == 'vokswagen', 'brand'] = 'volkswagen'
cars.loc[cars['brand'] == 'vw', 'brand'] = 'volkswagen'

In [9]:
#кол-во марок после очистки
cars.brand.nunique()

22

In [10]:
#для построение регрессионной модели оставим часть предикторов (независимых переменных)

cars = cars[['brand', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower','price']]

#найдем корелляцию между переменными
cars.corr()

,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,price
wheelbase,1.000000,0.874587,0.795144,0.776386,0.569329,0.488750,0.353294,0.577816
carlength,0.874587,1.000000,0.841118,0.877728,0.683360,0.606454,0.552623,0.682920
carwidth,0.795144,0.841118,1.000000,0.867032,0.735433,0.559150,0.640732,0.759325
curbweight,0.776386,0.877728,0.867032,1.000000,0.850594,0.648480,0.750739,0.835305
enginesize,0.569329,0.683360,0.735433,0.850594,1.000000,0.583774,0.809769,0.874145
boreratio,0.488750,0.606454,0.559150,0.648480,0.583774,1.000000,0.573677,0.553173
horsepower,0.353294,0.552623,0.640732,0.750739,0.809769,0.573677,1.000000,0.808139
price,0.577816,0.682920,0.759325,0.835305,0.874145,0.553173,0.808139,1.000000

In [11]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand           205 non-null    object
 1   fueltype        205 non-null    object
 2   aspiration      205 non-null    object
 3   carbody         205 non-null    object
 4   drivewheel      205 non-null    object
 5   wheelbase       205 non-null    float64
 6   carlength       205 non-null    float64
 7   carwidth        205 non-null    float64
 8   curbweight      205 non-null    int64
 9   enginetype      205 non-null    object
 10  cylindernumber  205 non-null    object
 11  enginesize      205 non-null    int64
 12  boreratio       205 non-null    float64
 13  horsepower      205 non-null    int64
 14  price           205 non-null    float64
dtypes: float64(5), int64(3), object(7)
memory usage: 24.1+ KB

In [12]:
#т.к. линейная регрессия не работает с категориальными ПН, проведем One-Hot Encoding. 
#Заменим категориальные ПН на фиктивные числовые

#отдельно для строковых переменных

df_dummy = pd.get_dummies(data=cars[['brand',\
                                     'fueltype',\
                                     'aspiration',\
                                     'carbody',\
                                     'drivewheel'\
                                     ,'enginetype'\
                                     ,'cylindernumber']], drop_first = True)
df_dummy

,brand_audi,brand_bmw,brand_buick,brand_chevrolet,brand_dodge,brand_honda,brand_isuzu,brand_jaguar,brand_mazda,brand_mercury,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
203,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
204,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [13]:
#One-Hot Encoding для всей таблицы

df_dummy_total = pd.get_dummies(data=cars[['brand'\
                                     , 'fueltype'\
                                     , 'aspiration'\
                                     , 'carbody'\
                                     , 'drivewheel'\
                                     , 'wheelbase'\
                                     , 'carlength'\
                                     , 'carwidth'\
                                     , 'curbweight'\
                                     , 'enginetype'\
                                     , 'cylindernumber'\
                                     , 'enginesize'\
                                     , 'boreratio'\
                                     , 'horsepower'\
                                     , 'price']], drop_first = True)
df_dummy_total

,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,price,brand_audi,brand_bmw,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,88.6,168.8,64.1,2548,130,3.47,111,13495.0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,88.6,168.8,64.1,2548,130,3.47,111,16500.0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,94.5,171.2,65.5,2823,152,2.68,154,16500.0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,99.8,176.6,66.2,2337,109,3.19,102,13950.0,1,0,...,1,0,0,0,0,1,0,0,0,0
4,99.4,176.6,66.4,2824,136,3.19,115,17450.0,1,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,2952,141,3.78,114,16845.0,0,0,...,1,0,0,0,0,1,0,0,0,0
201,109.1,188.8,68.8,3049,141,3.78,160,19045.0,0,0,...,1,0,0,0,0,1,0,0,0,0
202,109.1,188.8,68.9,3012,173,3.58,134,21485.0,0,0,...,0,0,1,0,0,0,1,0,0,0
203,109.1,188.8,68.9,3217,145,3.01,106,22470.0,0,0,...,1,0,0,0,0,0,1,0,0,0
204,109.1,188.8,68.9,3062,141,3.78,114,22625.0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [14]:
import statsmodels.api as sm
import statsmodels.formula.api as smf 

# способ первый
# Y = одномерный массив с ЗП, X - массив со всеми нужными нам НП

X = sm.add_constant(cars.horsepower)  # добавить константу, чтобы был свободный член
Y = cars.price
model = sm.OLS(Y, X)  # говорим модели, что у нас ЗП, а что НП
results = model.fit()  # строим регрессионную прямую
print(results.summary())  # смотрим результат

# способ второй, потенциально более удобный

#results = smf.ols('Y ~ X1 + X2 + ... + Xn', cars).fit()
#print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Fri, 27 Jan 2023   Prob (F-statistic):           1.48e-48
Time:                        08:18:53   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [15]:
#Какой процент изменчивости объясняет полученная модель? 65%

In [27]:
#построим еще 2 модели: со всеми предикторами, и со всеми предикторами кроме марок машин
#1

X = sm.add_constant(df_dummy_total.drop(columns='price'))  # добавить константу, чтобы был свободный член
Y = df_dummy_total['price']
model = sm.OLS(Y, X)  # говорим модели, что у нас ЗП, а что НП
results = model.fit()  # строим регрессионную прямую
print(results.summary())  # смотрим результат

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.959
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     81.09
Date:                Fri, 27 Jan 2023   Prob (F-statistic):           4.86e-89
Time:                        08:42:20   Log-Likelihood:                -1804.2
No. Observations:                 205   AIC:                             3702.
Df Residuals:                     158   BIC:                             3858.
Df Model:                          46
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                 -3.472e+04   1.17e+04     -2.959      0.004   -5.79e+04   -1.15e+04
wheelbase               147.1396     76.234      1.930      0.055      -3.429     297.708
carlength              -113.2012     48.949     -2.313      0.022    -209.881     -16.522
carwidth                809.1860    214.508      3.772      0.000     385.514    1232.858
curbweight                4.1822      1.582      2.643      0.009       1.057       7.307
enginesize               61.4212     23.643      2.598      0.010      14.724     108.119
boreratio             -4319.4728   1759.825     -2.454      0.015   -7795.288    -843.657
horsepower               34.7010     18.000      1.928      0.056      -0.850      70.252
brand_audi              437.1040   2125.971      0.206      0.837   -3761.885    4636.093
brand_bmw              7993.4998   2105.132      3.797      0.000    3835.671    1.22e+04
brand_buick            3431.0969   2472.252      1.388      0.167   -1451.829    8314.023
brand_chevrolet       -2107.0167   2054.269     -1.026      0.307   -6164.387    1950.353
brand_dodge           -3034.5530   1686.337     -1.799      0.074   -6365.224     296.118
brand_honda           -2328.7396   1622.141     -1.436      0.153   -5532.617     875.138
brand_isuzu            -926.1643   1819.489     -0.509      0.611   -4519.823    2667.495
brand_jaguar           2695.2664   2546.268      1.059      0.291   -2333.847    7724.379
brand_mazda           -1291.5657   1652.561     -0.782      0.436   -4555.527    1972.395
brand_mercury         -2762.0259   2786.701     -0.991      0.323   -8266.016    2741.965
brand_mitsubishi      -3699.6473   1650.046     -2.242      0.026   -6958.640    -440.654
brand_nissan          -1488.1217   1563.564     -0.952      0.343   -4576.305    1600.061
brand_peugeot         -2671.4595   1795.328     -1.488      0.139   -6217.398     874.479
brand_plymouth        -3052.1258   1670.829     -1.827      0.070   -6352.166     247.915
brand_porsche          4915.9715   2797.761      1.757      0.081    -609.864    1.04e+04
brand_renault         -2865.2197   2073.046     -1.382      0.169   -6959.676    1229.237
brand_saab              719.8222   1767.620      0.407      0.684   -2771.390    4211.035
brand_subaru          -1.164e+04   3416.221     -3.407      0.001   -1.84e+04   -4892.375
brand_toyota          -2608.7871   1539.320     -1.695      0.092   -5649.086     431.512
brand_volkswagen      -2261.9355   1606.886     -1.408      0.161   -5435.683     911.812
brand_volvo              68.2605   1943.170      0.035      0.972   -3769.679    3906.200
fueltype_gas           -243.7792    908.310     -0.268      0.789   -2037.774    1550.216
aspiration_turbo        596.6566    676.548      0.882      0.379    -739.588    1932.902
carbody_hardtop       -2556.7157   1213.929     -2.106      0.037   -4954.337    -159.094
carbody_hatchback     -3044.4196   1107.064     -2.750      0.007   -5230.972    -857.867
carbody_sedan         -2256.9173   1154.971     -1.954      0.052   -4538.090      24.256
carbody_wagon         -2815.4970   1223.156     -2.302      0.023   -5231.343    -399.651
drivewheel_fwd         -169.4926    888.585     -0.191      0.849   -1924.531    1585.545
drivewheel_rwd          231.9066   1039.685      0.223      0.824   -1821.566    2285.380
enginetype_dohcv      -8358.0756   4326.239     -1.932      0.055   -1.69e+04     186.645
enginetype_l          -1067.3120   1602.125     -0.666      0.506   -4231.657    2097.033
enginetype_ohc         -273.7175   1063.557     -0.257      0.797   -2374.341    1826.906
enginetype_ohcf        1.031e+04   2672.508      3.857      0.000    5028.873    1.56e+04
enginetype_ohcv       -2393.8587   1214.631     -1.971      0.050   -4792.867       5.150
enginetype_rotor         37.4715   2092.597      0.018      0.986   -4095.600    4170.543
cylindernumber_five   -5235.5232   2887.214     -1.813      0.072   -1.09e+04     466.990
cylindernumber_four   -3741.3604   3542.130     -1.056      0.292   -1.07e+04    3254.673
cylindernumber_six    -5441.5317   2628.646     -2.070      0.040   -1.06e+04    -249.713
cylindernumber_three   1604.1476   2774.698      0.578      0.564   -3876.137    7084.432
cylindernumber_twelve -8097.1585   3616.336     -2.239      0.027   -1.52e+04    -954.561
cylindernumber_two       37.4715   2092.597      0.018      0.986   -4095.600    4170.543
==============================================================================
Omnibus:                       81.075   Durbin-Watson:                   1.382
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              487.187
Skew:                           1.379   Prob(JB):                    1.62e-106
Kurtosis:                      10.031   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [30]:
#2 все пердикторы кроме марки



X = sm.add_constant(df_dummy_total.drop(columns=['brand_audi','brand_bmw','brand_buick'\
                                                ,'brand_chevrolet','brand_dodge','brand_honda'\
                                                ,'brand_isuzu','brand_jaguar','brand_mazda'\
                                                ,'brand_mercury','brand_mitsubishi','brand_nissan'\
                                                ,'brand_peugeot','brand_renault','brand_saab'\
                                                ,'brand_plymouth','brand_porsche','brand_subaru'\
                                                ,'brand_toyota','brand_volkswagen','brand_volvo']))  # добавить константу, чтобы был свободный член
Y = df_dummy_total['price']
model = sm.OLS(Y, X)  # говорим модели, что у нас ЗП, а что НП
results = model.fit()  # строим регрессионную прямую
print(results.summary())  # смотрим результат

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 4.726e+29
Date:                Fri, 27 Jan 2023   Prob (F-statistic):               0.00
Time:                        08:55:42   Log-Likelihood:                 4678.4
No. Observations:                 205   AIC:                            -9301.
Df Residuals:                     177   BIC:                            -9208.
Df Model:                          27
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                  3.679e-11   1.66e-10      0.222      0.825    -2.9e-10    3.64e-10
wheelbase               1.83e-13   1.11e-12      0.165      0.869      -2e-12    2.37e-12
carlength              4.743e-14   6.41e-13      0.074      0.941   -1.22e-12    1.31e-12
carwidth              -1.283e-12   3.26e-12     -0.394      0.694   -7.71e-12    5.15e-12
curbweight            -9.266e-15    2.3e-14     -0.403      0.687   -5.46e-14    3.61e-14
enginesize             1.127e-13   2.86e-13      0.394      0.694   -4.52e-13    6.78e-13
boreratio              5.774e-13   2.21e-11      0.026      0.979    -4.3e-11    4.42e-11
horsepower             1.047e-13   2.28e-13      0.460      0.646   -3.45e-13    5.54e-13
price                     1.0000   9.52e-16   1.05e+15      0.000       1.000       1.000
fueltype_gas           4.942e-13   1.26e-11      0.039      0.969   -2.44e-11    2.54e-11
aspiration_turbo      -1.783e-13   1.01e-11     -0.018      0.986      -2e-11    1.97e-11
carbody_hardtop       -9.002e-13   1.96e-11     -0.046      0.963   -3.96e-11    3.78e-11
carbody_hatchback      2.279e-12    1.7e-11      0.134      0.894   -3.13e-11    3.59e-11
carbody_sedan         -8.721e-13   1.75e-11     -0.050      0.960   -3.54e-11    3.37e-11
carbody_wagon         -1.886e-12   1.91e-11     -0.099      0.921   -3.95e-11    3.57e-11
drivewheel_fwd        -3.064e-13   1.43e-11     -0.021      0.983   -2.84e-11    2.78e-11
drivewheel_rwd        -4.207e-12   1.57e-11     -0.268      0.789   -3.52e-11    2.68e-11
enginetype_dohcv      -3.228e-12   5.99e-11     -0.054      0.957   -1.21e-10    1.15e-10
enginetype_l           1.807e-12   1.71e-11      0.106      0.916   -3.18e-11    3.55e-11
enginetype_ohc        -3.402e-12    1.2e-11     -0.283      0.777   -2.71e-11    2.03e-11
enginetype_ohcf        9.536e-13   1.84e-11      0.052      0.959   -3.53e-11    3.72e-11
enginetype_ohcv         3.52e-12   1.77e-11      0.198      0.843   -3.15e-11    3.85e-11
enginetype_rotor       6.443e-12   2.69e-11      0.239      0.811   -4.67e-11    5.96e-11
cylindernumber_five    6.282e-12    3.9e-11      0.161      0.872   -7.07e-11    8.33e-11
cylindernumber_four    1.006e-12    4.4e-11      0.023      0.982   -8.58e-11    8.78e-11
cylindernumber_six    -1.095e-11   3.11e-11     -0.352      0.725   -7.24e-11    5.05e-11
cylindernumber_three  -5.426e-12    6.1e-11     -0.089      0.929   -1.26e-10    1.15e-10
cylindernumber_twelve -6.609e-12   4.45e-11     -0.148      0.882   -9.45e-11    8.13e-11
cylindernumber_two    -2.237e-12   2.69e-11     -0.083      0.934   -5.54e-11    5.09e-11
==============================================================================
Omnibus:                       54.738   Durbin-Watson:                   0.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               98.012
Skew:                           1.367   Prob(JB):                     5.21e-22
Kurtosis:                       4.999   Cond. No.                     1.16e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.74e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [34]:
df_dummy_no_brand = pd.get_dummies(data=cars[['fueltype'\
                                     , 'aspiration'\
                                     , 'carbody'\
                                     , 'drivewheel'\
                                     , 'wheelbase'\
                                     , 'carlength'\
                                     , 'carwidth'\
                                     , 'curbweight'\
                                     , 'enginetype'\
                                     , 'cylindernumber'\
                                     , 'enginesize'\
                                     , 'boreratio'\
                                     , 'horsepower'\
                                     , 'price']], drop_first = True)

In [36]:
X = sm.add_constant(df_dummy_no_brand.drop(columns='price'))  # добавить константу, чтобы был свободный член
Y = df_dummy_total['price']
model = sm.OLS(Y, X)  # говорим модели, что у нас ЗП, а что НП
results = model.fit()  # строим регрессионную прямую
print(results.summary())  # смотрим результат

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.914
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     72.32
Date:                Fri, 27 Jan 2023   Prob (F-statistic):           9.86e-81
Time:                        09:21:55   Log-Likelihood:                -1881.6
No. Observations:                 205   AIC:                             3817.
Df Residuals:                     178   BIC:                             3907.
Df Model:                          26
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                   -1.7e+04    1.3e+04     -1.309      0.192   -4.26e+04    8625.219
wheelbase                71.1868     87.028      0.818      0.414    -100.552     242.925
carlength               -51.3497     50.341     -1.020      0.309    -150.692      47.993
carwidth                541.8700    253.327      2.139      0.034      41.958    1041.782
curbweight                2.9577      1.796      1.647      0.101      -0.585       6.501
enginesize               36.0515     22.376      1.611      0.109      -8.105      80.208
boreratio             -2230.4519   1731.681     -1.288      0.199   -5647.719    1186.815
horsepower               86.8164     16.717      5.193      0.000      53.827     119.806
fueltype_gas          -2423.0935    975.579     -2.484      0.014   -4348.283    -497.904
aspiration_turbo      -1139.2334    787.230     -1.447      0.150   -2692.738     414.271
carbody_hardtop       -3728.0949   1519.366     -2.454      0.015   -6726.383    -729.807
carbody_hatchback     -4639.1279   1294.594     -3.583      0.000   -7193.855   -2084.401
carbody_sedan         -3337.7854   1356.075     -2.461      0.015   -6013.838    -661.732
carbody_wagon         -4315.4661   1465.089     -2.946      0.004   -7206.646   -1424.287
drivewheel_fwd          297.2402   1121.766      0.265      0.791   -1916.431    2510.912
drivewheel_rwd         1939.1594   1226.536      1.581      0.116    -481.263    4359.582
enginetype_dohcv      -1.713e+04   4540.120     -3.773      0.000   -2.61e+04   -8171.142
enginetype_l           2176.0521   1332.818      1.633      0.104    -454.106    4806.211
enginetype_ohc         4006.5687    897.437      4.464      0.000    2235.584    5777.553
enginetype_ohcf        5421.2822   1388.078      3.906      0.000    2682.076    8160.488
enginetype_ohcv       -5001.2242   1345.435     -3.717      0.000   -7656.280   -2346.169
enginetype_rotor      -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
cylindernumber_five   -1.389e+04   2891.599     -4.802      0.000   -1.96e+04   -8180.353
cylindernumber_four   -1.618e+04   3243.610     -4.989      0.000   -2.26e+04   -9780.800
cylindernumber_six    -1.175e+04   2287.516     -5.135      0.000   -1.63e+04   -7231.547
cylindernumber_three  -9264.0553   4750.899     -1.950      0.053   -1.86e+04     111.279
cylindernumber_twelve -1.214e+04   3386.507     -3.585      0.000   -1.88e+04   -5458.378
cylindernumber_two    -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
==============================================================================
Omnibus:                       18.493   Durbin-Watson:                   1.249
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.728
Skew:                           0.293   Prob(JB):                     9.65e-12
Kurtosis:                       5.365   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.